[submodule "galaxia_homework_fe"]
	path = galaxia_homework_fe
	url = https://github.com/icreaterain/galaxia_homework_fe.git
[submodule "galaxia_homework_be"]
	path = galaxia_homework_be
	url = https://github.com/icreaterain/galaxia_homework_be.git
